html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background: #ACBB78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,rgb(240, 240, 240),  #ACBB78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,rgb(197, 209, 195),  #ACBB78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

.container {
  max-width: 1700px;
  margin:0 auto;
  padding:0 30px;
  width:100%
}

.clear{
  clear: left;
}

header {
  height:80px;
  background-color: rgba(34,49,52,.9);
}

.header_logo {
  float:left;
  width:300px;
  margin-top: 15px;
}

.small_logo{
  display: none;
  width:170px;
}

.btn{
  display: inline-block;
  color:#fff;
  padding:8px 15px;
  opacity:0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity:1;
}

.btn:active{
  box-shadow: none;
  position:relative;
  top:4px;
}

.smallbtn{
  float: left;
  margin: 10px;
}

.Twitter{
  background-color:#1da1f2;
  margin-right: 10px;
  box-shadow:0 4px #1A638D;
}

.Github{
  background-color:#4b4444;
  box-shadow:0 4px #1b1818;
  margin-right: 10px;
}

.btn-wrapper{
  float:right;
  margin-top:23px;
}

h1{
  font-size: 24px;
  border-bottom: 3px solid #4a8f4a;
  border-left: 5px solid #4a8f4a;
  margin:30px 0 10px 0;
  padding-left: 20px;
}

h2{
  font-size: 18px;
}

p{
  margin:5px 30px;
}

footer{
  height:80px;
  background-color: #191970;
}

.footer_logo{
  width:250px;
  float:left;
  margin:20px 0 0 0;
}

footer p{
  margin:15px 0;
  font-size:17px;
  color:#696969;
  float:right;
}


.info{
  margin-top:20px;
}

.menus{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.menu{
  flex: auto;
  text-align: center;
  width:25%;
}

.card{
  width:200px;
  height:290px;
  background-color: #f0f8ff;
  text-align: center;
  display: inline-block;
  flex: auto;
  margin:20px 30px;
  padding: 10px 20px 20px 20px;
  color:black;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow: 0 0 30px rgba(0,0,0,.2);
}

.card h2{
  font-size: 20px;
}

.card p{
  padding:10px 0;
  margin: 0;
  font-size:20px;
  text-align: left;
}

.card img{
  margin:0 auto;
}

.learn{
  margin-bottom: 50px;
}

.simple{
  position: relative;
}

.new{
  display: inline-block;
  position: absolute;
  top:8px;
  left:0;
  background-color: red;
  color: #ffF;
  padding:0 20px;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}